
@-webkit-keyframes color-change-5x {
0% {
background: #19dcea;
}
25% {
background: #b22cff;
}
50% {
background: #000000;
}
75% {
background: #0400ff;
}
100% {
background: #000000;
}
}
@keyframes color-change-5x {
0% {
background: #19dcea;
}
25% {
background: #006f9b;
}
50% {
background: #000000;
}
75% {
background: #0400ff;
}
100% {
background: #000000;
}
}