.footer-fo{
    display: flex;
justify-content: center;
align-items: center;
}
.footer-fo img{
    width: 15%;
}
.footer-fo h2{
    color: #ffff;
    font-size: 1em;
    font-family: game;
    padding: 2%;
}