.ps5-segundap{
    height: 38em;
    filter: drop-shadow(0px 0px 20px blue);
    background-color: #fff;
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7em 7em 7em;
  grid-template-areas: "column1 column2"
  "column3 column4"
  "column5 column6";
}
.ps5-segundap h2{
    
    grid-area: column1;
    text-align: center;
    margin-top: 10%;
    font-size: 3em;
}
.ps5-segundap p{
    grid-area: column3;
    margin-left: 10%;
    margin-top: 3em;
    font-size: 1.4em;
    
}
.ps5-segundap img{
    width: 80%;
    height: 38em;
    margin-left: 10%;
    grid-area: column2 column4 column6;
}
.ps5-segundap button{
    width: 25%;
    height: 3em;
    grid-area: column5;
    margin-left: 17em;
    margin-top: 6em;
}